body{
    margin: 0;
    font-family: 'Russo One', sans-serif;
    font-size: 16.5px;
    color:#333;
    line-height=1.6px;
    background:#ecf0e4;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0 0 10px 0;
}
*,
*:before,
*:after {
box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*Conteiner ==================================== */
.container {
    width: 100%;
    max-width:1170px;
    margin: 0 auto;
}

/*Header ==================================== */
.header {
    width: 100%;
    position: absolute;
    top 0;
    left 0;
    z-index: 10000;
}

.tophead {
    align-items: center;
    text-transform: uppercase;
    margin: 0 45px;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #555;
    font-size: 20px;
}
.company{
    margin: 0 5px;
}

/*Navigation ================================*/

.tophead_a {
text-transform: uppercase;
position: static;
margin: 6px;
font-size: 16.5px;
text-decoration:none;
color:#333;
transition: opacity 0.2s linear ;
}
.tophead_a:hover {
opacity: 1;
text-shadow:#222;
font-size::17px;
color:#111;
}

.nav {

}
/*intro ================================*/

.intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 110px;
    background-color:#505e4f;
    height: 730px;
    background: url(img/FONE.jpg) center no-repeat;
}
.intro_title{
    line-height: 71px;
    margin: 0;
    text-transform: uppercase;
    font-size: 60px;
    color: #f4bf06;
    font-weight: 700;
}
.intro_title2 {
    margin: 0;
 text-transform: uppercase;
    font-size: 23px;
    color: #f4bf06;
    font-weight: 700;
}

/*Benefits*/
.benefits{
    margin: 110px 26px;
display: flex;
}

.benefits_item {
    width: 33.33333%;
     text-align: center;
}
.benefits_icon{
    margin-bottom: 25px;
}

.benefits_text {
}
/*service ============= */
.service_intro{
    background: url(img/Service/Service_1.png) center no-repeat;
    width: 100%;
}
.service {
    margin-top: 18px;
    padding: 13px;
    width: 100%;
}
.service_name{
    text-transform: ;
}
.title_service{
       padding-top: 10px;
width: 100%;
    text-align: center;
}
.service_text{
    color:#333;
    display: flex;
    justify-content:center;
}
.service_intro_color{
    width: 45%;
    text-align: center;
    background-color:#dd931f;
}

.sub_title_service {
 font-size:12px;
}

.botom_service {
    color: #333;
    text-decoration: none;
    font-size: 26px;
    border: 2px solid #333;
    padding: 8px;
    margin: 25px;
    text-align: center;
    transition: 0.4s;
}
.botom_service:Hover {
    color: #333;
    text-decoration: none;
    font-size: 26px;
    border: 4px solid #333;
    padding: 8px;
    margin: 25px;
    text-align: center;
}
.service_botom {
    margin-top: 6px;
    padding-top: 12px;
    padding-bottom: 35px;
    width: 100%;
}
/*About us==================================*/
.about_title{
    margin-top:100px;
    padding-right: 17px;
    font-size: 60px;
    transition: 0.3s;
}
.about_title:hover {
    color: ;
}

.about{
    font-size:24px;
    padding-top: 23px;
    padding-right: 10px;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: flex;
    padding-bottom: 29px;
}

/* works======================   */
.works{
display: flex;
}

.works_item {
    margin-bottom: 37px;
    width: 33.333333%;
     text-align: center;
}
.works_icon1{
    display: block;
     background: url(img/Works/zabor.jpg) no-repeat 50% 50%;
    transition: 0.59s;
    margin-bottom: 5px;
    z-index: 10000;
    width: 100%;
    height: 380px;
}

.works_icon2{
display: block;
     background: url(img/Works/house.jpg) no-repeat 50% 50%;
    transition: 0.59s;
    margin-bottom: 5px;
    z-index: 10000;
    width: 100%;
    height: 380px;
}

.works_icon3{
    display: block;
     background: url(img/Works/brush.jpg) no-repeat 50% 50%;
    transition: 0.59s;
    margin-bottom: 5px;
    z-index: 10000;
    width: 100%;
    height: 380px;
}

.works_icon1:hover{
       width: 100%;
        background: url(img/Works/zabor_BG.jpg) no-repeat 50% 50%;
    height: 380px;
    margin-bottom: 5px;
}

.works_icon2:hover{
     width: 100%;
        background: url(img/Works/house_BG.jpg) no-repeat 50% 50%;
    height: 380px;
    margin-bottom: 5px;
}

.works_icon3:hover{
  width: 100%;
        background: url(img/Works/brush_BG.jpg) no-repeat 50% 50%;
    height: 380px;
    margin-bottom: 5px;
}

.works_text {
    color:#333;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;

}
.works_title{
    padding-top: 20px;
    margin-top:150px;
    margin-bottom: 17px;
    display: flex;
    font-size: 70px;
    justify-content: center;
}
.works_bg{
    background: url(img/Works/BG_2.jpg) no-repeat center;
    text-decoration: none;
}

/*contact =============================*/
.contact_BG{
    background: #dd931f;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: ;
    flex-direction:;
}
.contact_1{
    margin-top: 4%;
    width: 50%;
    min-height: 150px;
    float: left;
}

.contact_title{
    padding: 50px 0;
    margin: 0 40px;
    text-transform: uppercase;
    text-align: center;
}

.contact_text{
    font-size: 18px;
    color: #333;
}
.contact_value{
    font-size: 16px;
    color: #444;
}

.contact_2{
  width: 50%;
    min-height: 150px;

}
.contact_2_2 {
     margin-top: 4%;
    padding-top: 20px;
}
 /*END =============================================*/
.end_BG{
    background:#222;
    width: 100%;
    height: 214px;
}
.end_inform{
    padding:90px;
    text-align: center;
    color: aliceblue;
}

/*Popup *==================================*/


.popup{
    position: fixed;
    width: 100%;
    height: 100%;
background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
        opacity: 0;
    visibility: hidden;
}
.popup:target{
            opacity: 1;
    visibility: visible;

}

.popup_body{
    min-height:100%;
display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}

.popup_content{
background-color:#ecf0e4;
    color: #333;
    max-width: 1200px;
    position: relative;
}

.popup_close{
    color: #333;
position: absolute;
    right: 10px;
    top:10px;
    font-size: 20px;
    text-decoration: none;
}

.popup_title{
    font-size: 50px;
    margin: 0.7em ;

}

.popup_text{
    margin: 2em ;

}

.popup_service{
margin-bottom: 20px;
display: flex;
width: 60%;
}

.popup_price{
    display: flex;

}







